This is evaluation for トキポナ1000文コーパス by ponaLM

PonaLM is still weak to evaluate correctly. So the fluency score might be wrong.

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
import os, sys, re, regex
sys.path.append("../../../ponaLM")
from models import PonaLM
import nltk
pd.set_option("display.max_colwidth", 1000)

prepare toki pona language model and dictionary

In [2]:
with open('../../words.txt') as f:
    words = [word.rstrip() for word in f.readlines()]
    w2n = {w:i for i,w in enumerate(words)}

# for detect proper noun
def proper(word):
    return re.match(r'^([AIUEO]|[KSNPML][aiueo]|[TJ][aueo]|W[aie])n?(([ksnpml]?[aiueo]|[tj][aueo]|w[aie])n?)*$',word)

# for detect symbols
p_emoji = regex.compile(r'\p{Emoji=Yes}+')

def word_to_id(word):
    if word in w2n:
        return w2n[word]
    elif proper(word):
        return w2n['<Q>']
    elif word.isnumeric():
        return w2n['<NUM>']
    elif p_emoji.search(word):
        return w2n['<SYM>']
    else:
        assert mopu

In [3]:
model = PonaLM(len(words))
model.load_state_dict(torch.load('../../../ponaLM/lm.model', map_location='cpu'))
model.eval()

PonaLM(
  (embed): Embedding(145, 20)
  (lstmf): LSTM(20, 300)
  (lstmb): LSTM(20, 300)
  (h2h): Linear(in_features=300, out_features=20, bias=True)
  (h2o): Linear(in_features=20, out_features=145, bias=True)
  (drop1): Dropout(p=0.03)
  (drop2): Dropout(p=0.03)
  (drop3): Dropout(p=0.2)
  (drop4): Dropout(p=0.2)
)

code for evaluation

In [4]:
# Negotive Log Likelihhod
def NLL(sent):
    sent = [word_to_id(w) for w in sent]
    pred = model(torch.tensor([[0,0] + sent]), torch.tensor([[0,0] + sent[::-1]]))
    return [-p[w].item() for p,w in zip(pred[1:-1], sent)]

# evaluate the score of sentences
def evaluate(sent): 
    nlls = NLL(sent)
    prob = [round(np.exp(-l)*100,2) for l in nlls] # probability = exp(-NLL)
    fluency = round(1/(1+np.mean(nlls)),3)         # fluency = 1 / (1 + ave(all NLL))
    display(pd.DataFrame([prob + [fluency]], index=['prob'], columns=sent + ['Fluency']))

load corpus

In [5]:
sents = [sent.rstrip().split(' ') for sent in open('pona_corpus1000.txt')]
sents[0]

['mi', 'jan', 'Alito', '.']

evaluate fluency of each sentence

In [6]:
for i, line in enumerate(sents):
    print('#{:04}'.format(i+1))
    evaluate(line)

#0001

        mi    jan  Alito      .  Fluency
prob  2.05  45.35  54.87  88.78    0.426

#0002

      ali     li   ike   tawa   ona      .  Fluency
prob  1.2  79.97  6.97  53.46  8.49  90.12    0.363

#0003

      tomo    mi     li  suli    ala      .  Fluency
prob  0.29  8.44  29.85  1.07  11.96  83.65    0.268

#0004

         mi   jo    ala      e   tomo  tawa      .  Fluency
prob  61.54  6.9  64.12  37.42  14.66   3.7  78.97    0.411

#0005

         mi  toki  kepeken  ilo      .  Fluency
prob  25.31  5.23     6.13  2.2  75.99    0.308

#0006

      tenpo     ni     la     mi    lon  supa    mi      .  Fluency
prob  18.95  20.94  35.92  42.28  43.31  0.82  1.04  83.32    0.341

#0007

      tomo  pali     mi    li   sin      .  Fluency
prob  0.63  0.77  10.43  2.06  0.32  83.92    0.214

#0008

       kon     li  seli     li     jo      e  telo  mute      .  Fluency
prob  0.56  23.68  0.69  71.91  16.21  96.68  4.87  8.25  86.34    0.316

#0009

      moku    mi    li  kili  palisa      .  Fluency
prob  0.05  7.18  8.83  0.02    0.03  84.98    0.169

#0010

         mi     jo      e  lipu     pi  toki  pali      .  Fluency
prob  61.54  13.28  97.62  3.37  41.58  5.54  0.39  79.57    0.341

#0011

,jan,meli,lili,ni,li,jo,e,palisa,nasa,.,Fluency
prob,0.55,0.36,2.54,17.15,94.06,16.21,97.14,0.69,1.83,84.4,0.268

#0012

       sina  moku      e   telo  nasa     la   sina  nasa     .  Fluency
prob  16.99  2.66  72.78  10.56   1.2  19.58  16.67   1.9  84.4    0.311

#0013

         mi   wile   ala      e  moku  jaki      .  Fluency
prob  60.77  18.95  8.42  49.73  1.91  0.24  86.75    0.312

#0014

,sina,seli,e,telo,la,telo,li,pana,e,kon,.,Fluency
prob,7.79,0.56,59.67,1.84,0.89,1.28,91.68,11.96,92.87,0.95,86.1,0.279

#0015

,ona,li,sitelen,e,sike,la,akesi,suli,li,kama,.,Fluency
prob,35.71,93.73,1.05,35.65,0.2,2.55,0.16,2.04,92.38,10.71,74.07,0.272

#0016

      sijelo    ona     li  lete  sama  kiwen      .  Fluency
prob    0.08  14.28  90.66   0.3  0.26   0.33  85.69    0.207

#0017

        mi  pana      e   ilo  musi  tawa  meli     mi      .  Fluency
prob  32.4  6.78  93.48  9.97  1.97  12.1   3.0  10.03  83.32    0.331

#0018

       sina  kute    ala  kute      e  kalama     ni     ?  Fluency
prob  18.11  1.24  52.51  2.36  91.67    1.61  14.94  20.5    0.305

#0019

      pipi  mute     li  moku     e  kasi  laso      .  Fluency
prob  0.23  2.71  67.85  4.02  64.9   2.2  0.29  89.57    0.254

#0020

      waso  walo  lili    li   pona   tawa    mi      .  Fluency
prob  0.37  0.68  3.07  80.6  29.78  75.12  40.4  83.32    0.322

#0021

      kala  Opapinija    li     jo      e  oko  luka      .  Fluency
prob  0.07      13.49  96.5  16.21  93.52  0.3  0.22  85.46    0.255

#0022

        mi  esun      e  len   sin      .  Fluency
prob  6.01  0.21  80.94  2.9  1.28  83.92    0.258

#0023

        jan  Sonja     li  mama   pi   toki  pona      .  Fluency
prob  77.15  67.82  53.18  0.07  9.6  14.99  8.56  80.43    0.341

#0024

      jan  nasa     li    lon  monsi  sina      .  Fluency
prob  8.8  0.23  50.07  21.09   1.63  10.2  76.24    0.286

#0025

       jan  pali     pi    ma   ale     o   wan      .  Fluency
prob  3.14   1.6  20.24  6.72  0.34  0.96  0.76  89.64    0.227

#0026

      luka   tu     li  nanpa  pona      .  Fluency
prob  0.07  1.3  48.12    0.2  4.66  80.43    0.215

#0027

       ma     ni     li   pi     mi      .  Fluency
prob  2.0  11.01  57.65  0.5  29.29  83.32     0.31

#0028

        o  olin    mi  taso      .  Fluency
prob  9.3  0.17  0.39  0.19  87.19    0.195

#0029

       sina  moku      e   pan  suwi    mi     ,    anu   seme      ?  Fluency
prob  16.99  2.66  80.75  0.83  0.14  18.5  1.04  24.42  82.46  96.58    0.287

#0030

,mi,pana,e,ko,jaki,lon,tenpo,sona,la,tenpo,pi,tomo,sona,mi,li,pini,.,Fluency
prob,32.4,6.78,94.63,0.85,0.15,40.81,4.17,0.4,1.96,2.44,27.2,5.88,0.82,13.97,26.91,1.78,79.32,0.258

#0031

         mi    ken   ala   ken   tawa  tomo  telo      ?  Fluency
prob  42.49  20.62  77.5  2.95  32.41  1.59  0.54  12.59    0.299

#0032

      akesi  linja     li   ike   tawa   sina      .  Fluency
prob    0.1   0.14  18.02  6.97  61.16  15.74  76.24    0.255

#0033

      kon  pona     li   kama    tan     ma  kasi      .  Fluency
prob  0.4  1.04  69.82  15.55  10.59  32.04   0.5  85.58    0.275

#0034

,telo,li,kama,tan,sewi,li,tawa,telo,suli,.,Fluency
prob,1.18,86.87,15.55,12.24,3.01,66.12,14.36,2.6,5.33,87.63,0.321

#0035

      kili  loje    en  kili  laso     li  suwi      .  Fluency
prob  0.51  0.76  2.04  0.28  0.24  57.51  0.72  86.88    0.202

#0036

       pan     li    lon  insa  poki  pimeja      .  Fluency
prob  0.26  52.06  39.91  2.41  0.46    0.42  88.01    0.239

#0037

      esun  mute     li    lon     ma   tomo  Tokijo      .  Fluency
prob  0.05  5.66  68.23  64.94  65.95  59.79   16.02  88.78     0.36

#0038

       ijo   ali     li  kama  ante      .  Fluency
prob  1.01  1.45  93.14  7.99  2.73  87.29    0.283

#0039

        jan     li  soweli  sona     .  Fluency
prob  11.59  10.18    0.15   0.6  81.5    0.235

#0040

        tan   seme     la   sina  olin      e  toki  Losupan    ?  Fluency
prob  18.11  55.32  80.59  18.89  2.58  67.18  14.5    36.21  8.4    0.397

#0041

,sina,wile,e,ilo,sitelen,tawa,la,mi,alasa,e,mani,mute,.,Fluency
prob,27.53,6.7,58.83,34.28,4.9,2.36,3.48,47.36,0.54,92.71,4.04,27.26,86.34,0.33

#0042

,jan,mute,li,tawa,tomo,telo,li,telo,e,sijelo,ona,.,Fluency
prob,9.16,0.99,55.0,11.25,1.59,0.71,4.96,0.45,17.17,1.0,10.34,90.12,0.25

#0043

         mi   wile  lape    lon  supa  pona  suli      .  Fluency
prob  60.77  33.01  2.24  40.33  2.55  0.46  0.62  87.63     0.28

#0044

,tenpo,suno,sin,li,open,la,suno,li,kama,tan,monsi,pi,nena,weka,.,Fluency
prob,73.54,35.54,0.97,72.25,1.49,5.86,0.27,76.68,15.55,12.05,0.39,31.86,0.27,0.66,80.91,0.266

#0045

,sina,pali,e,moku,la,mi,pana,e,kili,anu,kasi,anu,kala,tawa,sina,.,Fluency
prob,16.26,7.74,68.35,0.82,18.47,42.46,6.78,96.21,0.63,0.26,0.22,0.11,0.03,11.65,15.74,76.24,0.238

#0046

      tomo   tawa  nanpa  luka    li    pi    jan   seme      ?  Fluency
prob  1.26  21.62   1.37  0.28  0.41  3.27  21.52  20.23  96.58    0.242

#0047

        jan   Miku     li   ilo  kalama  musi      .  Fluency
prob  77.15  67.82  65.54  0.28     2.1  4.49  86.48    0.332

#0048

      kule  sewi     li  laso      .  Fluency
prob   0.2  3.33  46.88  0.16  89.57    0.228

#0049

,kasi,suli,suli,li,open,e,uta,la,ona,tawa,insa,kasi,.,Fluency
prob,0.83,2.92,1.21,85.45,1.37,57.81,0.04,6.98,3.32,3.37,1.11,0.24,85.58,0.221

#0050

      pipi  monsuta     li    lon  insa     mi      .  Fluency
prob   0.2     0.08  61.53  39.91  3.24  28.36  83.32    0.263

#0051

,sitelen,toki,pi,toki,Tawi,li,jo,e,sike,.,Fluency
prob,0.29,5.13,11.84,7.08,34.13,96.5,16.21,95.48,0.34,82.82,0.308

#0052

      sinpin     pi  meli     ni     li   pona  lukin      .  Fluency
prob    0.64  36.95  3.64  18.92  85.91  12.59   2.79  77.87    0.319

#0053

,ma,tu,li,open,e,utala,la,jan,mute,li,kama,moli,.,Fluency
prob,0.2,0.23,91.28,1.37,59.63,0.33,10.58,5.76,0.99,93.75,24.21,4.09,83.33,0.258

#0054

      supa  kiwen     li  kiwen     li  lete      .  Fluency
prob  0.14   0.17  16.58   0.57  16.89  0.58  88.93    0.206

#0055

,mi,pana,e,mani,mute,seme,la,mi,ken,esun,e,ilo,kipisi,ni,?,Fluency
prob,32.4,6.78,97.37,4.04,0.2,10.21,78.2,53.13,19.23,0.4,68.42,11.69,0.09,16.22,20.5,0.291

#0056

,mama,tu,mi,li,unpa,ala,la,mi,lon,ala,.,Fluency
prob,0.78,1.78,9.32,17.49,0.11,4.15,21.13,42.28,1.53,7.69,83.65,0.254

#0057

,tomo,pi,kulupu,pi,jan,sona,li,lon,ma,ni,.,Fluency
prob,2.44,40.89,0.88,53.43,5.63,0.74,35.25,64.94,13.38,3.17,75.16,0.306

#0058

,jan,Ototake,li,jo,ala,e,luka,en,noka,.,Fluency
prob,77.15,67.82,96.5,7.92,64.12,61.55,0.27,0.72,0.18,85.53,0.318

#0059

,tomo,tawa,pi,sitelen,tawa,ni,li,ilo,tawa,tenpo,.,Fluency
prob,1.26,15.67,10.35,2.05,10.6,13.63,55.9,0.72,4.07,0.08,68.48,0.251

#0060

         mi  sona    ala      e  nimi  sina      .  Fluency
prob  49.86  7.44  54.35  92.35  3.59  8.27  76.24     0.41

#0061

          o  kute    ala      e  kalama  musi   ike      .  Fluency
prob  22.86  1.43  50.81  63.63    4.04  5.02  2.78  83.47    0.322

#0062

      tenpo   ali     la   sina   jan   pona    mi      .  Fluency
prob   9.86  2.56  67.26  16.53  2.08  22.52  6.29  83.32    0.327

#0063

,jan,pi,pali,tomo,o,",",mi,lukin,e,sina,.,Fluency
prob,23.07,14.49,0.11,0.02,1.1,33.9,46.99,8.31,60.83,4.31,76.24,0.259

#0064

       sina   wile   ala     la   sina  moli    ala      .  Fluency
prob  27.53  17.48  4.89  19.38  25.02  0.47  11.04  83.65    0.322

#0065

       len     ni     li  sama  selo  jan      .  Fluency
prob  0.33  19.82  86.78  1.75  0.01  0.7  79.79    0.209

#0066

      soweli  Mekemeke     li    mu    lon  nasin  nasa     .  Fluency
prob    4.96     41.06  91.93  0.23  22.95   1.99  1.05  84.4    0.284

#0067

,ona,li,jo,e,luka,monsuta,li,tan,ma,anpa,.,Fluency
prob,35.71,94.83,16.21,94.46,0.51,0.12,11.72,1.8,4.48,0.08,86.29,0.258

#0068

      waso  Kopentan    li  pona     e  pilin  sina      .  Fluency
prob  0.36     23.58  93.1  0.97  8.74   2.83  1.78  76.24    0.266

#0069

      nimi  namako    li  nimi    pu  ala      .  Fluency
prob  0.28    0.06  2.92  0.17  0.02  3.7  83.65    0.165

#0070

        ma  Italija    li     jo      e  moku  pona  pona      .  Fluency
prob  3.56    53.06  96.5  16.21  95.17   1.5  0.07  1.38  80.43    0.292

#0071

      tenpo  pimeja     pi     ma  tomo    li  lete      .  Fluency
prob  71.03    9.03  46.15  67.38  4.31  2.52  0.58  88.93    0.333

#0072

,mi,open,e,uta,tomo,la,mi,lukin,e,mun,.,Fluency
prob,26.21,1.28,57.81,0.14,0.12,3.35,55.79,8.31,72.31,0.15,88.61,0.25

#0073

         o   lon     e  wile  sina      .  Fluency
prob  4.09  0.38  1.32  0.43  0.62  76.24    0.201

#0074

,ilo,pi,pana,moku,li,pakala,la,soweli,li,moli,.,Fluency
prob,1.4,10.87,0.56,0.39,49.03,2.97,2.68,0.6,74.98,2.76,83.33,0.243

#0075

,kala,pi,sike,pan,li,jo,e,noka,luka,tu,wan,.,Fluency
prob,0.37,31.97,2.57,0.11,87.66,16.21,94.83,0.59,1.43,3.85,1.59,89.64,0.249

#0076

          o  moli    ala      e    jan   pona  sina      .  Fluency
prob  15.09  0.78  45.95  40.57  16.12  22.07  3.75  76.24    0.343

#0077

,tomo,tawa,kon,li,tawa,lon,sewi,pi,tomo,palisa,suli,suli,.,Fluency
prob,1.26,55.63,0.83,26.44,3.75,5.4,3.77,39.12,4.5,0.08,2.83,1.18,87.63,0.246

#0078

      kili  jelo     ni     li  moku  pona   kin      .  Fluency
prob  0.33  0.18  20.15  89.09  1.02  5.87  3.27  80.65    0.244

#0079

      linja  lawa  mije    li  kama  lili      .  Fluency
prob   0.23  1.05  0.73  94.1  6.18  3.75  89.26    0.243

#0080

,ilo,utala,sin,ni,li,pana,e,kulupu,pi,sike,kiwen,.,Fluency
prob,0.86,0.89,0.04,18.58,92.15,11.96,90.83,0.65,43.06,3.28,0.34,85.69,0.248

#0081

       ala     li  moku     e  kiwen      .  Fluency
prob  0.18  12.02  4.02  66.7   0.32  85.69    0.251

#0082

,mi,pakala,e,kili,ni,la,ona,li,pana,e,telo,suwi,.,Fluency
prob,23.83,0.67,88.68,1.05,10.4,28.49,42.01,96.69,11.96,95.42,5.86,0.66,86.88,0.336

#0083

      olin     li  pilin   jan      .  Fluency
prob  0.36  26.87   0.21  0.26  79.79    0.206

#0084

          o  pana    ala      e  toki  jaki      .  Fluency
prob  41.61  5.57  41.66  45.24  5.64  0.18  86.75    0.322

#0085

,sitelen,tawa,pi,jan,Misali,li,pana,e,sona,pi,toki,pona,tawa,sina,.,Fluency
prob,1.42,6.45,30.29,47.26,67.82,95.96,11.96,85.41,3.08,8.07,14.99,18.01,70.52,15.74,76.24,0.387

#0086

,waso,Penkin,li,tawa,kon,ala,li,tawa,telo,.,Fluency
prob,0.36,23.58,84.43,14.68,0.86,3.73,6.38,14.36,0.69,83.64,0.27

#0087

      sina  utala      e  meli  sina  kepeken    ilo  kipisi      .  Fluency
prob  6.65    0.5  34.69  2.41  3.08    17.66  23.36    0.04  82.52    0.247

#0088

,palisa,sitelen,li,jo,e,telo,pimeja,lon,insa,ona,.,Fluency
prob,0.02,0.08,22.48,16.21,96.68,7.02,0.55,25.56,4.04,6.11,90.12,0.242

#0089

      sike     ma   Tela     li    ma  mama    pi    jan   ali      .  Fluency
prob  0.08  11.91  53.06  46.99  0.47  0.32  46.1  28.22  1.79  89.27    0.263

#0090

,mi,jo,e,mani,mute,la,mi,wile,ala,pali,.,Fluency
prob,61.54,13.28,97.48,4.04,16.7,36.21,59.33,18.95,43.34,2.0,79.57,0.412

#0091

,tenpo,kama,la,jan,ali,li,lon,tomo,suli,suli,wan,.,Fluency
prob,19.26,7.55,47.71,32.44,1.5,74.66,67.59,4.88,1.5,1.18,1.36,89.64,0.307

#0092

        jan     li  pali      e  lipu  tan  kasi      .  Fluency
prob  11.59  57.84  6.33  89.39  1.47  2.2  0.45  85.58    0.295

#0093

,palisa,ni,li,jo,e,wawa,nasa,li,ken,lawa,e,jan,mute,.,Fluency
prob,0.05,21.33,94.06,16.21,90.5,0.45,1.05,88.97,6.17,1.11,36.52,4.57,2.56,86.34,0.278

#0094

,suno,li,lon,sewi,li,seli,e,kon,la,mi,pilin,ike,.,Fluency
prob,1.81,32.43,20.12,4.41,63.13,0.47,34.66,0.53,12.21,58.11,42.84,14.34,83.47,0.32

#0095

      telo  mute     li    lon  insa    pi  sijelo   jan      .  Fluency
prob   0.6  9.36  68.23  39.91  2.55  46.8    0.55  0.73  79.79    0.276

#0096

,ma,li,tawa,wawa,la,telo,mute,li,tawa,li,pakala,e,ma,tomo,.,Fluency
prob,0.52,23.5,7.77,0.42,3.49,0.77,9.36,55.0,1.5,34.41,2.4,42.91,22.28,1.83,83.79,0.266

#0097

      sitelen  toki     pi  toki   Anku    li   pona      .  Fluency
prob     0.29  5.13  11.84  7.08  34.13  93.1  11.51  80.43    0.318

#0098

      tenpo  seme     la   sina  sona      e  pona   jan      ?  Fluency
prob   10.9  3.75  80.59  25.22  7.17  24.41  3.21  0.33  10.34    0.285

#0099

,tomo,tawa,pi,esun,unpa,li,tawa,li,pana,e,kalama,musi,nasa,lon,ma,tomo,.,Fluency
prob,1.26,15.67,0.79,0.36,0.11,19.37,1.5,57.05,11.96,96.08,4.04,4.38,0.57,30.32,65.95,1.83,83.79,0.256

#0100

         ni     li   ijo     pi  nanpa  ale      .  Fluency
prob  16.74  50.43  1.58  59.49   0.96  1.1  88.53    0.299

some trial

In [7]:
def tokenize(sent):
    return nltk.tokenize.word_tokenize(sent)

In [8]:
evaluate(tokenize('moku mi li kili palisa.'))
evaluate(tokenize('moku mi li kili pi palisa.'))
evaluate(tokenize('moku mi li palisa kili.'))
evaluate(tokenize('moku mi li palisa pi kili.'))

      moku    mi    li  kili  palisa      .  Fluency
prob  0.05  7.18  8.83  0.02    0.03  84.98    0.169

      moku    mi    li  kili     pi  palisa      .  Fluency
prob  0.05  7.18  8.83  0.21  53.97    0.07  84.98    0.206

      moku    mi     li  palisa  kili     .  Fluency
prob  0.05  7.18  14.17    0.06  0.06  86.5     0.18

      moku    mi     li  palisa     pi  kili     .  Fluency
prob  0.05  7.18  14.17    0.11  63.59  0.17  86.5    0.212

In [9]:
evaluate(tokenize('o olin mi taso.'))
evaluate(tokenize('o olin e mi taso.'))

        o  olin    mi  taso      .  Fluency
prob  9.3  0.17  0.39  0.19  87.19    0.195

        o  olin      e    mi  taso      .  Fluency
prob  9.3  1.36  61.26  0.37  0.19  87.19    0.239

In [10]:
evaluate(tokenize('nimi namako li nimi pu ala.'))
evaluate(tokenize('nimi namako li nimi pi pu ala.'))
evaluate(tokenize('nimi pi namako li nimi pi pu ala.'))

      nimi  namako    li  nimi    pu  ala      .  Fluency
prob  0.28    0.06  2.92  0.17  0.02  3.7  83.65    0.165

      nimi  namako    li  nimi     pi    pu  ala      .  Fluency
prob  0.28    0.06  2.92  0.35  33.52  0.01  3.7  83.65    0.181

      nimi     pi  namako    li  nimi     pi    pu  ala      .  Fluency
prob  1.16  19.03    0.03  2.92  0.35  33.52  0.01  3.7  83.65    0.196