This is evaluation for トキポナ1000文コーパス by ponaLM

PonaLM is still weak to evaluate correctly. So the fluency score might be wrong.

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
import os, sys, re, regex
sys.path.append("../../../ponaLM")
from models import PonaLM
import nltk
pd.set_option("display.max_colwidth", 1000)
pd.set_option('display.max_columns', 1000)

prepare toki pona language model and dictionary

In [2]:
with open('../../words.txt') as f:
    words = [word.rstrip() for word in f.readlines()]
    w2n = {w:i for i,w in enumerate(words)}

# for detect proper noun
def proper(word):
    return re.match(r'^([AIUEO]|[KSNPML][aiueo]|[TJ][aueo]|W[aie])n?(([ksnpml]?[aiueo]|[tj][aueo]|w[aie])n?)*$',word)

# for detect symbols
p_emoji = regex.compile(r'\p{Emoji=Yes}+')

def word_to_id(word):
    if word in w2n:
        return w2n[word]
    elif proper(word):
        return w2n['<Q>']
    elif word.isnumeric():
        return w2n['<NUM>']
    elif p_emoji.search(word):
        return w2n['<SYM>']
    else:
        assert mopu

In [3]:
model = PonaLM(len(words))
model.load_state_dict(torch.load('../../../ponaLM/lm.model', map_location='cpu'))
model.eval()

PonaLM(
  (embed): Embedding(145, 20)
  (lstmf): LSTM(20, 300)
  (lstmb): LSTM(20, 300)
  (h2h): Linear(in_features=300, out_features=20, bias=True)
  (h2o): Linear(in_features=20, out_features=145, bias=True)
  (drop1): Dropout(p=0.05)
  (drop2): Dropout(p=0.05)
  (drop3): Dropout(p=0.25)
  (drop4): Dropout(p=0.25)
)

code for evaluation

In [4]:
# Negotive Log Likelihhod
def NLL(sent):
    sent = [word_to_id(w) for w in sent]
    pred = model(torch.tensor([[0,0] + sent]), torch.tensor([[0,0] + sent[::-1]]))
    return [-p[w].item() for p,w in zip(pred[1:-1], sent)]

# evaluate the score of sentences
def evaluate(sent): 
    nlls = NLL(sent)
    prob = [round(np.exp(-l)*100,2) for l in nlls] # probability = exp(-NLL)
    fluency = round(1/(1+np.mean(nlls)),3)         # fluency = 1 / (1 + ave(all NLL))
    display(pd.DataFrame([prob + [fluency]], index=['prob'], columns=sent + ['Fluency']))

load corpus

In [5]:
sents = [sent.rstrip().split(' ') for sent in open('pona_corpus1000.txt')]
sents[0]

['mi', 'jan', 'Alito', '.']

evaluate fluency of each sentence

In [6]:
for i, line in enumerate(sents):
    print('#{:04}'.format(i+1))
    evaluate(line)

#0001

        mi    jan  Alito      .  Fluency
prob  1.39  43.64  53.48  87.86    0.406

#0002

       ali    li   ike   tawa   ona      .  Fluency
prob  1.22  83.6  6.81  50.08  7.54  88.26     0.36

#0003

      tomo    mi     li  suli   ala     .  Fluency
prob  0.28  9.52  27.02  0.97  9.38  77.1    0.263

#0004

        mi    jo    ala     e   tomo  tawa      .  Fluency
prob  60.1  5.96  72.21  34.2  14.48  4.06  70.76    0.407

#0005

         mi  toki  kepeken   ilo      .  Fluency
prob  18.21  4.99      6.6  2.04  74.37    0.301

#0006

      tenpo     ni     la     mi    lon  supa    mi      .  Fluency
prob  14.59  22.45  33.49  48.52  45.36  0.89  1.03  80.75     0.34

#0007

      tomo  pali     mi    li  sin      .  Fluency
prob  0.79   0.9  11.25  2.85  0.3  80.07     0.22

#0008

       kon     li  seli     li     jo      e  telo  mute      .  Fluency
prob  0.63  27.74  0.83  82.23  17.01  97.47  4.57  9.33  82.32    0.324

#0009

      moku    mi     li  kili  palisa      .  Fluency
prob  0.05  7.38  10.81  0.02    0.04  82.18    0.173

#0010

        mi     jo      e  lipu    pi  toki  pali      .  Fluency
prob  60.1  10.59  98.25  3.04  49.2  7.25   0.3  76.65    0.338

#0011

,jan,meli,lili,ni,li,jo,e,palisa,nasa,.,Fluency
prob,0.57,0.34,2.62,15.07,95.21,17.01,97.84,0.91,1.9,82.48,0.27

#0012

       sina  moku      e   telo  nasa     la   sina  nasa      .  Fluency
prob  13.71   2.9  76.51  13.16  1.43  23.51  13.94  1.89  82.48    0.314

#0013

         mi   wile   ala     e  moku  jaki      .  Fluency
prob  61.91  21.92  8.29  53.0  1.96  0.28  82.95    0.317

#0014

,sina,seli,e,telo,la,telo,li,pana,e,kon,.,Fluency
prob,4.9,0.5,57.87,2.1,0.77,1.6,91.56,12.22,93.25,0.95,83.24,0.276

#0015

,ona,li,sitelen,e,sike,la,akesi,suli,li,kama,.,Fluency
prob,32.71,92.35,0.94,31.05,0.23,2.9,0.18,2.5,93.96,13.95,70.84,0.275

#0016

      sijelo    ona     li  lete  sama  kiwen      .  Fluency
prob    0.09  10.51  90.85  0.29  0.23   0.31  81.98    0.205

#0017

         mi  pana      e    ilo  musi   tawa  meli     mi      .  Fluency
prob  30.92  7.14  94.15  13.56  2.55  12.33  3.18  12.19  80.75    0.341

#0018

       sina  kute    ala  kute      e  kalama     ni      ?  Fluency
prob  15.85  0.95  47.77  2.01  91.48    1.58  13.34  13.39    0.292

#0019

      pipi  mute     li  moku      e  kasi  laso      .  Fluency
prob  0.27  4.13  70.86   4.4  69.18  2.25  0.35  85.64    0.262

#0020

      waso  walo  lili     li   pona   tawa     mi      .  Fluency
prob  0.43  0.86  3.21  85.52  35.16  71.33  42.51  80.75     0.33

#0021

      kala  Opapinija     li     jo      e   oko  luka      .  Fluency
prob  0.08      14.03  97.22  17.01  95.22  0.27  0.22  82.01    0.257

#0022

        mi  esun      e   len   sin      .  Fluency
prob  4.24  0.19  80.02  2.43  1.46  80.07    0.252

#0023

        jan  Sonja     li  mama     pi   toki  pona      .  Fluency
prob  72.24   68.8  54.12  0.07  14.98  28.96  15.7  78.14    0.367

#0024

       jan  nasa     li    lon  monsi  sina      .  Fluency
prob  8.55  0.24  60.72  22.87   1.45  9.56  75.94    0.288

#0025

       jan  pali     pi    ma   ale    o   wan      .  Fluency
prob  3.48  1.49  22.49  7.79  0.25  1.0  0.73  85.54    0.227

#0026

      luka    tu     li  nanpa  pona      .  Fluency
prob  0.09  1.39  47.39   0.19  4.34  78.14    0.216

#0027

        ma    ni     li    pi     mi      .  Fluency
prob  2.45  8.98  56.43  0.44  28.21  80.75    0.306

#0028

         o  olin      e    mi  taso      .  Fluency
prob  8.61  1.31  63.87  0.35  0.13  82.17    0.233

#0029

,sina,moku,e,pan,suwi,mi,",",anu,seme,?,Fluency
prob,13.71,2.9,84.84,1.07,0.22,14.77,1.05,24.57,80.12,93.34,0.29

#0030

,mi,pana,e,ko,jaki,lon,tenpo,sona,la,tenpo,pi,tomo,sona,mi,li,pini,.,Fluency
prob,30.92,7.14,95.54,0.89,0.16,37.94,3.28,0.42,1.74,2.87,26.21,7.12,0.78,14.0,31.3,1.67,74.73,0.258

#0031

         mi    ken    ala  ken  tawa  tomo  telo      ?  Fluency
prob  36.76  23.09  81.37  5.6  33.0  1.44  0.58  10.51    0.304

#0032

      akesi  linja     li   ike   tawa  sina      .  Fluency
prob   0.11   0.17  23.79  6.81  59.26  13.8  75.94    0.259

#0033

       kon  pona     li   kama    tan     ma  kasi      .  Fluency
prob  0.39  1.51  75.93  21.53  11.24  32.39  0.45  82.17    0.281

#0034

,telo,li,kama,tan,sewi,li,tawa,telo,suli,.,Fluency
prob,1.54,86.66,21.53,14.85,3.49,71.19,14.06,3.47,8.69,84.11,0.34

#0035

      kili  loje    en  kili  laso     li  suwi      .  Fluency
prob  0.62  1.23  2.47  0.31  0.27  56.14  0.72  82.37    0.207

#0036

       pan     li    lon  insa  poki  pimeja     .  Fluency
prob  0.31  50.48  45.28  2.84  0.61    0.49  84.9    0.246

#0037

      esun  mute     li    lon     ma  tomo  Tokijo      .  Fluency
prob  0.05  7.83  77.13  69.93  66.43  59.4   15.47  87.86     0.37

#0038

       ijo  ali     li  kama  ante      .  Fluency
prob  0.94  1.5  94.26  8.47  2.55  84.91    0.283

#0039

        jan    li  soweli  sona      .  Fluency
prob  10.32  9.27    0.12  0.54  78.56    0.229

#0040

        tan   seme     la   sina  olin     e   toki  Losupan     ?  Fluency
prob  15.35  53.95  79.07  17.48  2.58  73.7  16.42    33.89  6.73    0.391

#0041

,sina,wile,e,ilo,sitelen,tawa,la,mi,alasa,e,mani,mute,.,Fluency
prob,24.73,7.61,60.99,33.75,4.58,2.25,4.03,53.92,0.51,94.01,6.23,31.33,82.32,0.336

#0042

,jan,mute,li,tawa,tomo,telo,li,telo,e,sijelo,ona,.,Fluency
prob,11.3,1.58,61.78,9.39,1.44,0.71,5.94,0.36,18.64,1.25,7.95,88.26,0.252

#0043

         mi   wile  lape    lon  supa  pona  suli      .  Fluency
prob  61.91  35.42  3.18  42.12  2.43  0.48  0.64  84.11    0.285

#0044

,tenpo,suno,sin,li,open,la,suno,li,kama,tan,monsi,pi,nena,weka,.,Fluency
prob,71.97,36.4,0.97,77.66,1.14,6.53,0.4,80.16,21.53,13.96,0.33,31.21,0.26,0.5,77.06,0.268

#0045

,sina,pali,e,moku,la,mi,pana,e,kili,anu,kasi,anu,kala,tawa,sina,.,Fluency
prob,13.9,7.42,69.17,0.89,20.33,50.51,7.14,96.9,0.64,0.3,0.2,0.11,0.04,13.72,13.8,75.94,0.24

#0046

      tomo   tawa  nanpa  luka    li    pi    jan   seme      ?  Fluency
prob  1.09  17.57   1.26  0.27  0.45  4.32  19.81  15.11  93.34    0.239

#0047

        jan  Miku     li   ilo  kalama  musi     .  Fluency
prob  72.24  68.8  52.85  0.33    2.54  6.48  82.5    0.339

#0048

      kule  sewi     li  laso      .  Fluency
prob  0.23  2.54  42.53  0.15  85.64    0.224

#0049

,kasi,suli,suli,li,open,e,uta,la,ona,tawa,insa,kasi,.,Fluency
prob,1.1,4.19,1.28,88.15,1.02,58.61,0.04,6.14,2.15,3.9,1.16,0.23,82.17,0.221

#0050

      pipi  monsuta     li    lon  insa    mi      .  Fluency
prob  0.21     0.09  70.17  45.28  3.58  31.9  80.75    0.269

#0051

,sitelen,toki,pi,toki,Tawi,li,jo,e,sike,.,Fluency
prob,0.36,5.54,14.33,10.08,33.61,97.22,17.01,96.76,0.37,81.77,0.318

#0052

      sinpin     pi  meli    ni     li   pona  lukin      .  Fluency
prob    0.63  36.26  3.35  16.6  87.66  17.54    2.9  73.56     0.32

#0053

,ma,tu,li,open,e,utala,la,jan,mute,li,kama,moli,.,Fluency
prob,0.3,0.24,92.14,1.02,58.87,0.31,6.78,6.94,1.58,94.93,26.52,4.16,81.6,0.26

#0054

      supa  kiwen     li  kiwen     li  lete      .  Fluency
prob  0.12   0.16  17.33    0.5  18.89  0.51  85.68    0.204

#0055

,mi,pana,e,mani,mute,seme,la,mi,ken,esun,e,ilo,kipisi,ni,?,Fluency
prob,30.92,7.14,98.1,6.23,0.74,7.4,75.9,56.9,20.52,0.39,68.76,13.3,0.08,14.32,13.39,0.297

#0056

,mama,tu,mi,li,unpa,ala,la,mi,lon,ala,.,Fluency
prob,0.89,1.89,9.73,20.99,0.11,4.54,25.91,48.52,1.61,7.98,77.1,0.259

#0057

,tomo,pi,kulupu,pi,jan,sona,li,lon,ma,ni,.,Fluency
prob,2.06,43.97,1.03,61.11,6.49,0.83,37.22,69.93,14.47,2.74,79.13,0.311

#0058

,jan,Ototake,li,jo,ala,e,luka,en,noka,.,Fluency
prob,72.24,68.8,97.22,7.47,72.21,66.64,0.32,0.76,0.17,81.55,0.32

#0059

,tomo,tawa,pi,sitelen,tawa,ni,li,ilo,tawa,tenpo,.,Fluency
prob,1.09,16.19,10.94,2.27,11.98,13.13,47.07,0.56,3.63,0.06,62.09,0.246

#0060

         mi  sona    ala      e  nimi  sina      .  Fluency
prob  47.66  7.04  56.83  92.65  4.13  7.49  75.94     0.41

#0061

          o  kute    ala      e  kalama  musi   ike      .  Fluency
prob  24.81  1.18  53.07  64.21    4.91  7.39  2.25  80.54    0.326

#0062

      tenpo   ali     la   sina   jan  pona    mi      .  Fluency
prob  11.41  2.51  76.66  11.78  1.51  26.1  7.64  80.75    0.325

#0063

,jan,pi,pali,tomo,o,",",mi,lukin,e,sina,.,Fluency
prob,24.23,15.97,0.14,0.02,1.25,47.85,47.76,8.82,65.02,3.45,75.94,0.264

#0064

       sina   wile   ala     la   sina  moli   ala     .  Fluency
prob  24.73  18.71  4.39  23.32  21.17  0.39  10.3  77.1    0.316

#0065

      len     ni     li  sama  selo   jan      .  Fluency
prob  0.4  18.52  85.24  1.84  0.01  0.78  72.97    0.211

#0066

      soweli  Mekemeke     li    mu    lon  nasin  nasa      .  Fluency
prob    4.81     32.99  91.58  0.21  22.11   1.93  1.02  82.48    0.279

#0067

,ona,li,jo,e,luka,monsuta,li,tan,ma,anpa,.,Fluency
prob,32.71,95.75,17.01,96.17,0.52,0.13,13.88,1.8,6.22,0.07,82.46,0.261

#0068

      waso  Kopentan     li  pona     e  pilin  sina      .  Fluency
prob  0.43     22.36  93.55  1.28  8.12   2.66  1.59  75.94    0.267

#0069

      nimi  namako    li  nimi    pu   ala     .  Fluency
prob  0.37    0.06  3.34   0.2  0.02  3.13  77.1    0.167

#0070

        ma  Italija     li     jo      e  moku  pona  pona      .  Fluency
prob  4.66    58.46  97.22  17.01  95.92  1.67  0.15  1.57  78.14    0.306

#0071

      tenpo  pimeja     pi     ma  tomo    li  lete      .  Fluency
prob  66.91    9.65  45.99  67.99  3.61  2.56  0.51  85.68    0.329

#0072

,mi,open,e,uta,tomo,la,mi,lukin,e,mun,.,Fluency
prob,24.17,1.01,58.61,0.13,0.11,3.78,63.63,8.82,75.24,0.16,85.16,0.249

#0073

         o  lon    e  wile  sina      .  Fluency
prob  4.52  0.4  1.4  0.37  0.67  75.94    0.202

#0074

,ilo,pi,pana,moku,li,pakala,la,soweli,li,moli,.,Fluency
prob,1.3,14.14,0.75,0.37,53.44,2.51,2.8,0.71,76.5,2.53,81.6,0.246

#0075

,kala,pi,sike,pan,li,jo,e,noka,luka,tu,wan,.,Fluency
prob,0.39,31.32,2.65,0.12,89.42,17.01,95.96,0.6,1.3,3.67,2.13,85.54,0.251

#0076

          o  moli    ala      e    jan   pona  sina      .  Fluency
prob  12.43   0.6  46.14  47.81  15.73  26.92  3.41  75.94     0.34

#0077

,tomo,tawa,kon,li,tawa,lon,sewi,pi,tomo,palisa,suli,suli,.,Fluency
prob,1.09,55.28,0.89,33.64,4.06,7.73,4.23,35.95,5.63,0.12,3.73,1.41,84.11,0.254

#0078

      kili  jelo     ni     li  moku  pona   kin      .  Fluency
prob  0.38  0.21  17.49  89.39  1.13  7.99  3.15  74.13    0.247

#0079

      linja  lawa  mije     li  kama  lili     .  Fluency
prob   0.27  0.95  0.69  94.65  7.17  3.51  85.0    0.243

#0080

,ilo,utala,sin,ni,li,pana,e,kulupu,pi,sike,kiwen,.,Fluency
prob,0.89,1.01,0.04,16.2,92.74,12.22,92.0,0.73,47.93,3.16,0.32,81.98,0.249

#0081

       ala     li  moku      e  kiwen      .  Fluency
prob  0.17  10.52   4.4  70.52   0.33  81.98     0.25

#0082

,mi,pakala,e,kili,ni,la,ona,li,pana,e,telo,suwi,.,Fluency
prob,20.42,0.56,89.54,1.1,11.22,27.86,40.53,96.55,12.22,96.11,6.58,0.91,82.37,0.337

#0083

      olin     li  pilin   jan      .  Fluency
prob  0.34  26.97   0.11  0.18  72.97    0.197

#0084

          o  pana    ala     e  toki  jaki      .  Fluency
prob  42.96  5.51  42.41  51.5  6.21  0.19  82.95    0.326

#0085

,sitelen,tawa,pi,jan,Misali,li,pana,e,sona,pi,toki,pona,tawa,sina,.,Fluency
prob,1.5,6.3,30.78,42.19,68.8,95.44,12.22,87.15,3.06,7.96,28.96,27.15,67.96,13.8,75.94,0.396

#0086

,waso,Penkin,li,tawa,kon,ala,li,tawa,telo,.,Fluency
prob,0.43,22.36,88.33,15.09,0.78,3.04,9.43,14.06,0.83,82.23,0.273

#0087

      sina  utala      e  meli  sina  kepeken    ilo  kipisi      .  Fluency
prob  5.09   0.47  37.91  2.62  2.86    17.71  22.45    0.04  78.95    0.245

#0088

,palisa,sitelen,li,jo,e,telo,pimeja,lon,insa,ona,.,Fluency
prob,0.03,0.09,45.61,17.01,97.47,9.11,0.88,22.83,4.28,4.99,88.26,0.253

#0089

      sike     ma   Tela     li    ma  mama     pi   jan  ali      .  Fluency
prob  0.06  20.34  58.46  45.72  0.42  0.25  51.15  28.5  1.9  85.87    0.265

#0090

,mi,jo,e,mani,mute,la,mi,wile,ala,pali,.,Fluency
prob,60.1,10.59,98.32,6.23,18.83,38.9,63.12,21.92,42.75,1.8,76.65,0.419

#0091

,tenpo,kama,la,jan,ali,li,lon,tomo,suli,suli,wan,.,Fluency
prob,20.86,8.14,51.05,41.56,1.68,81.64,71.46,7.75,1.68,1.37,1.67,85.54,0.321

#0092

        jan     li  pali      e  lipu  tan  kasi      .  Fluency
prob  10.32  60.15  6.71  90.14  1.28  2.1  0.45  82.17    0.292

#0093

,palisa,ni,li,jo,e,wawa,nasa,li,ken,lawa,e,jan,mute,.,Fluency
prob,0.06,18.39,95.21,17.01,92.91,0.46,0.95,90.76,4.39,0.77,29.6,6.13,3.67,82.32,0.276

#0094

,suno,li,lon,sewi,li,seli,e,kon,la,mi,pilin,ike,.,Fluency
prob,2.23,39.72,20.53,4.62,63.96,0.44,31.7,0.55,14.0,64.24,43.7,12.83,80.54,0.324

#0095

      telo   mute     li    lon  insa     pi  sijelo   jan      .  Fluency
prob  0.86  10.84  77.13  45.28   2.3  51.97     0.5  0.66  72.97     0.28

#0096

,ma,li,tawa,wawa,la,telo,mute,li,tawa,li,pakala,e,ma,tomo,.,Fluency
prob,0.72,24.48,8.12,0.44,3.73,0.91,10.84,61.78,1.76,37.45,2.07,43.97,26.25,1.74,78.62,0.271

#0097

      sitelen  toki     pi   toki   Anku     li   pona      .  Fluency
prob     0.36  5.54  14.33  10.08  33.61  93.55  12.65  78.14     0.33

#0098

      tenpo  seme     la   sina  sona      e  pona   jan     ?  Fluency
prob  14.16  3.17  79.07  23.33  8.33  24.22  2.11  0.31  9.28    0.281

#0099

,tomo,tawa,pi,esun,unpa,li,tawa,li,pana,e,kalama,musi,nasa,lon,ma,tomo,.,Fluency
prob,1.09,16.19,1.42,0.34,0.14,26.78,1.76,57.83,12.22,96.66,4.91,6.95,0.41,28.53,66.43,1.74,78.62,0.261

#0100

         ni    li   ijo     pi  nanpa   ale      .  Fluency
prob  17.48  44.1  1.53  58.39   0.99  1.08  85.25    0.297

#0101

,pali,sitelen,li,pana,ala,e,mani,mute,tawa,sina,.,Fluency
prob,0.13,0.04,45.28,1.82,42.41,91.05,6.23,16.4,36.12,13.8,75.94,0.281

#0102

       len     pi  tenpo   sin    li  nasa    tan   seme      ?  Fluency
prob  1.39  76.88   4.39  0.44  38.2  0.73  12.64  77.14  93.34    0.296

#0103

,tomo,tawa,kon,mute,li,kama,tan,sewi,li,utala,e,ma,tomo,.,Fluency
prob,1.09,55.28,1.07,4.94,94.93,21.53,14.85,3.49,87.28,1.17,23.58,26.25,1.74,78.62,0.31

#0104

,kulupu,pi,jan,alasa,li,tawa,ma,kasi,la,soweli,li,kama,moku,ona,.,Fluency
prob,0.66,61.11,10.98,0.01,6.12,14.67,24.66,0.14,0.75,0.71,88.28,19.26,0.11,3.44,88.26,0.226

#0105

,tenpo,pini,la,jan,li,utala,suli,li,pali,e,ilo,utala,monsuta,.,Fluency
prob,65.56,22.09,79.05,7.8,62.46,0.48,2.09,80.53,6.71,80.13,7.72,0.49,0.2,82.44,0.305

#0106

,jan,ilo,tu,li,tawa,tomo,ante,kepeken,lupa,sike,.,Fluency
prob,0.14,0.07,0.96,71.34,9.39,1.09,0.74,1.8,0.59,0.62,81.77,0.196

#0107

      suno     li  sike  seli  suli      .  Fluency
prob  2.23  23.69  0.62  0.73   1.7  84.11    0.235

#0108

,waso,li,lukin,e,ma,tomo,mi,lon,sewi,.,Fluency
prob,0.76,83.35,4.88,58.78,26.25,10.61,6.69,22.44,3.58,85.73,0.335

#0109

,o,tawa,weka,tan,ma,suwi,li,tawa,insa,kon,lete,.,Fluency
prob,14.13,30.56,1.32,7.37,7.56,0.15,30.74,12.82,0.84,0.84,0.59,85.68,0.244

#0110

,nasin,li,pakala,la,tomo,tawa,mi,li,ken,ala,tawa,.,Fluency
prob,0.38,29.33,2.51,1.13,2.73,38.6,14.19,56.68,16.94,24.9,4.91,70.76,0.296

#0111

,kule,ni,taso,li,pona,tawa,sina,anu,seme,?,Fluency
prob,0.14,6.89,3.92,12.29,35.16,67.96,18.47,43.34,80.12,93.34,0.347

#0112

,ma,tomo,Akipa,li,lon,insa,ma,tomo,Tokijo,li,jo,e,esun,mute,pi,sitelen,pi,jan,meli,lili,suwi,.,Fluency
prob,9.64,59.4,18.29,92.54,45.28,2.56,7.39,59.4,18.29,97.22,17.01,92.21,0.16,4.71,12.65,1.12,21.76,1.22,0.34,2.09,0.29,82.37,0.292

#0113

,nimi,lupa,pi,toki,pona,li,tan,toki,Losupan,.,Fluency
prob,0.43,0.09,52.59,28.96,6.52,3.28,0.17,6.2,27.36,87.86,0.243

#0114

      toki  Alapi     li     jo      e  kalama  nasa      .  Fluency
prob  2.42  33.61  97.22  17.01  97.61    1.12  2.66  82.48    0.349

#0115

,sina,telo,ala,e,sinpin,sina,la,pipi,lili,lili,li,kama,mute,lon,insa,lupa,pi,sinpin,sina,.,Fluency
prob,1.01,0.07,2.63,42.42,0.32,7.92,19.61,0.51,3.97,2.6,95.45,9.13,1.79,39.22,2.05,0.17,32.81,0.39,6.3,75.94,0.233

#0116

,sitelen,tawa,li,pona,la,meli,mi,li,kama,pana,e,telo,oko,.,Fluency
prob,1.5,0.95,8.87,7.22,6.89,2.72,10.78,36.3,23.13,3.2,96.11,11.55,0.09,83.14,0.271

#0117

,sina,jan,lili,la,sina,ken,ala,kepeken,e,ilo,esun,pi,telo,nasa,.,Fluency
prob,0.73,7.3,3.83,61.25,37.15,21.05,18.63,2.01,78.6,6.21,0.42,10.32,10.81,6.56,82.48,0.298

#0118

      toki  Ikuwi     li  pona    ala  sama  toki  pona      .  Fluency
prob  2.42  33.61  93.55  4.48  15.11  0.02  3.89  15.7  78.14    0.274

#0119

,jan,sama,meli,lili,mi,li,pana,e,kasi,pi,suwi,lukin,tawa,mi,.,Fluency
prob,17.67,3.58,1.74,5.49,15.12,28.69,12.22,95.48,1.52,12.56,0.41,0.67,21.39,42.51,80.75,0.29

#0120

,kulupu,Nintento,li,sona,e,nasin,pali,pi,musi,.,Fluency
prob,0.09,5.91,95.46,4.83,67.8,1.47,1.44,10.88,1.05,82.5,0.258

some trial

In [7]:
def tokenize(sent):
    return nltk.tokenize.word_tokenize(sent)

In [8]:
evaluate(tokenize('moku mi li kili palisa.'))
evaluate(tokenize('moku mi li kili pi palisa.'))
evaluate(tokenize('moku mi li palisa kili.'))
evaluate(tokenize('moku mi li palisa pi kili.'))

      moku    mi     li  kili  palisa      .  Fluency
prob  0.05  7.38  10.81  0.02    0.04  82.18    0.173

      moku    mi     li  kili     pi  palisa      .  Fluency
prob  0.05  7.38  10.81  0.22  52.57    0.11  82.18    0.211

      moku    mi     li  palisa  kili      .  Fluency
prob  0.05  7.38  12.33    0.08  0.06  82.09    0.182

      moku    mi     li  palisa     pi  kili      .  Fluency
prob  0.05  7.38  12.33    0.14  61.83  0.18  82.09    0.213

In [9]:
evaluate(tokenize('nimi namako li nimi pu ala.'))
evaluate(tokenize('nimi namako li nimi pi pu ala.'))
evaluate(tokenize('nimi pi namako li nimi pi pu ala.'))

      nimi  namako    li  nimi    pu   ala     .  Fluency
prob  0.37    0.06  3.34   0.2  0.02  3.13  77.1    0.167

      nimi  namako    li  nimi     pi    pu   ala     .  Fluency
prob  0.37    0.06  3.34  0.39  32.27  0.01  3.13  77.1    0.182

      nimi     pi  namako    li  nimi     pi    pu   ala     .  Fluency
prob  1.24  16.19    0.04  3.34  0.39  32.27  0.01  3.13  77.1    0.196