This is evaluation for トキポナ1000文コーパス by ponaLM

PonaLM is still weak to evaluate correctly. So the fluency score might be wrong.

In [1]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
import os, sys, re, regex
sys.path.append("../../../ponaLM")
from models import PonaLM
pd.set_option("display.max_colwidth", 1000)

prepare toki pona language model and dictionary

In [2]:
with open('../../words.txt') as f:
    words = [word.rstrip() for word in f.readlines()]
    w2n = {w:i for i,w in enumerate(words)}

# for detect proper noun
def proper(word):
    return re.match(r'^([AIUEO]|[KSNPML][aiueo]|[TJ][aueo]|W[aie])n?(([ksnpml]?[aiueo]|[tj][aueo]|w[aie])n?)*$',word)

# for detect symbols
p_emoji = regex.compile(r'\p{Emoji=Yes}+')

def word_to_id(word):
    if word in w2n:
        return w2n[word]
    elif proper(word):
        return w2n['<Q>']
    elif word.isnumeric():
        return w2n['<NUM>']
    elif p_emoji.search(word):
        return w2n['<SYM>']
    else:
        assert mopu

In [3]:
model = PonaLM(len(words))
model.load_state_dict(torch.load('../../../ponaLM/lm.model', map_location='cpu'))
model.eval()

PonaLM(
  (embed): Embedding(145, 20)
  (lstmf): LSTM(20, 100)
  (lstmb): LSTM(20, 100)
  (h2h): Linear(in_features=100, out_features=20, bias=True)
  (h2o): Linear(in_features=20, out_features=145, bias=True)
  (drop1): Dropout(p=0.03)
  (drop2): Dropout(p=0.03)
  (drop3): Dropout(p=0.2)
  (drop4): Dropout(p=0.2)
)

code for evaluation

In [4]:
# Negotive Log Likelihhod
def NLL(sent):
    sent = [word_to_id(w) for w in sent]
    pred = model(torch.tensor([[0,0] + sent]), torch.tensor([[0,0] + sent[::-1]]))
    return [-p[w].item() for p,w in zip(pred[1:-1], sent)]

# evaluate the score of sentences
def evaluate(sent): 
    nlls = NLL(sent)
    prob = [round(np.exp(-l)*100,2) for l in nlls] # probability = exp(-NLL)
    fluency = round(1/(1+np.mean(nlls)),3)         # fluency = 1 / (1 + ave(all NLL))
    display(pd.DataFrame([prob + [fluency]], index=['prob'], columns=sent + ['Fluency']))

load corpus

In [5]:
sents = [sent.rstrip().split(' ') for sent in open('pona_corpus1000.txt')]
sents[0]

['mi', 'jan', 'Alito', '.']

evaluate fluency of each sentence

In [6]:
for i, line in enumerate(sents):
    print('#{:04}'.format(i+1))
    evaluate(line)

#0001

        mi    jan  Alito      .  Fluency
prob  1.15  43.04  66.25  89.63    0.407

#0002

       ali     li   ike   tawa   ona      .  Fluency
prob  0.42  80.63  3.75  39.23  8.12  89.73    0.324

#0003

      tomo    mi     li  suli   ala      .  Fluency
prob  0.19  4.12  21.98  1.15  7.73  87.57    0.249

#0004

         mi    jo    ala      e  tomo  tawa      .  Fluency
prob  48.97  5.57  63.14  45.19  5.18  2.92  78.72    0.377

#0005

         mi  toki  kepeken   ilo      .  Fluency
prob  28.37  2.44     1.02  1.54  86.05    0.265

#0006

      tenpo     ni     la     mi    lon  supa    mi      .  Fluency
prob  11.75  15.27  33.03  46.48  36.66  0.43  4.46  83.03    0.338

#0007

      tomo  pali     mi    li   sin      .  Fluency
prob   0.3  1.19  19.59  3.08  0.83  87.37    0.228

#0008

      kon     li  seli     li     jo      e  telo   mute      .  Fluency
prob  0.6  28.18   0.7  80.27  14.24  97.08  4.54  11.71  87.81    0.322

#0009

      moku     mi     li  kili  palisa      .  Fluency
prob  0.04  10.58  14.45  0.02    0.01  90.95    0.169

#0010

         mi     jo      e  lipu     pi  toki  pali      .  Fluency
prob  48.97  11.74  97.52  2.81  15.93  2.72  0.86  86.96    0.323

#0011

,jan,meli,lili,ni,li,jo,e,palisa,nasa,.,Fluency
prob,0.07,0.17,2.64,16.81,92.65,14.24,97.04,0.34,1.15,88.13,0.241

#0012

       sina  moku      e  telo  nasa     la   sina  nasa      .  Fluency
prob  17.05  2.84  75.96  5.74  1.58  30.87  14.82  1.89  88.13    0.313

#0013

         mi   wile    ala      e  moku  jaki     .  Fluency
prob  59.38  21.89  12.44  35.79  1.03  0.25  88.0    0.306

#0014

,sina,seli,e,telo,la,telo,li,pana,e,kon,.,Fluency
prob,6.56,0.37,57.93,0.57,2.38,1.23,85.45,10.85,94.48,0.9,89.5,0.272

#0015

,ona,li,sitelen,e,sike,la,akesi,suli,li,kama,.,Fluency
prob,36.53,87.71,1.0,36.17,0.1,1.49,0.12,2.58,92.98,7.91,76.16,0.261

#0016

      sijelo    ona     li  lete  sama  kiwen      .  Fluency
prob    0.04  14.79  88.81  0.13   0.3   0.21  89.44    0.197

#0017

         mi  pana      e    ilo  musi  tawa  meli    mi      .  Fluency
prob  37.25  9.16  95.09  10.11  2.07   8.3   2.2  9.91  83.03    0.328

#0018

      sina  kute    ala  kute      e  kalama    ni      ?  Fluency
prob  26.0   0.8  33.99  1.77  91.31     1.1  22.1  17.02    0.294

#0019

      pipi  mute     li  moku      e  kasi  laso      .  Fluency
prob  0.28   3.5  70.35  4.18  71.68  1.19  0.17  88.65     0.25

#0020

      waso  walo  lili     li   pona   tawa     mi      .  Fluency
prob  0.25  0.56  3.18  78.72  21.17  63.31  34.81  83.03    0.306

#0021

      kala  Opapinija     li     jo      e   oko  luka     .  Fluency
prob  0.04      20.11  95.01  14.24  96.73  0.11  0.27  89.8    0.247

#0022

        mi  esun      e   len   sin      .  Fluency
prob  2.48  0.24  84.57  1.96  1.51  87.37    0.248

#0023

        jan  Sonja     li  mama    pi  toki  pona      .  Fluency
prob  76.84   70.5  63.05  0.11  8.75  4.77  2.45  86.75    0.317

#0024

        jan  nasa     li    lon  monsi   sina      .  Fluency
prob  11.56  0.67  41.42  31.08   0.33  12.66  78.68    0.289

#0025

      jan  pali     pi    ma   ale     o   wan      .  Fluency
prob  2.1  2.04  31.19  3.59  0.66  0.28  0.54  88.43    0.219

#0026

      luka    tu     li  nanpa  pona      .  Fluency
prob  0.07  1.53  40.32   0.18  2.32  86.75     0.21

#0027

        ma     ni     li    pi     mi      .  Fluency
prob  2.33  11.84  44.55  0.04  11.02  83.03    0.263

#0028

         o  olin    mi  taso      .  Fluency
prob  6.19  0.35  3.23  0.61  88.07    0.226

#0029

       sina  moku      e   pan  suwi    mi     ,   anu   seme      ?  Fluency
prob  17.05  2.84  82.54  0.43  0.09  0.86  0.98  13.2  69.56  94.62    0.251

#0030

,mi,pana,e,ko,jaki,lon,tenpo,sona,la,tenpo,pi,tomo,sona,mi,li,pini,.,Fluency
prob,37.25,9.16,94.72,0.59,0.12,42.71,8.57,0.41,5.66,1.92,7.38,3.02,1.62,17.07,29.74,2.64,77.51,0.262

#0031

         mi   ken    ala   ken   tawa  tomo  telo     ?  Fluency
prob  51.11  22.9  84.43  8.12  17.22   0.8  0.24  8.29    0.287

#0032

      akesi  linja     li   ike   tawa  sina      .  Fluency
prob   0.02   0.13  15.13  3.75  54.88  10.8  78.68     0.23

#0033

      kon  pona     li   kama   tan    ma  kasi     .  Fluency
prob  0.6  1.44  69.67  11.31  5.42  9.07  0.17  92.7    0.253

#0034

      telo     li   kama   tan  sewi     li   tawa  telo  suli      .  Fluency
prob  1.27  85.95  11.31  4.55  0.69  67.14  20.62  1.89  2.65  87.56     0.29

#0035

      kili  loje    en  kili  laso     li  suwi     .  Fluency
prob   0.3  0.22  1.92  0.24   0.1  47.66  0.47  88.3    0.186

#0036

       pan     li    lon  insa  poki  pimeja      .  Fluency
prob  0.19  36.35  33.77  0.92  0.12    0.52  90.78    0.218

#0037

      esun  mute     li    lon     ma   tomo  Tokijo      .  Fluency
prob  0.06  8.89  72.68  57.59  21.55  19.71   12.96  89.63    0.332

#0038

       ijo   ali     li   kama  ante      .  Fluency
prob  1.07  1.45  95.59  10.01  1.96  86.66    0.283

#0039

        jan   li  soweli  sona      .  Fluency
prob  13.81  6.2     0.1  0.54  87.65    0.227

#0040

        tan   seme     la   sina  olin      e  toki  Losupan     ?  Fluency
prob  17.45  52.03  80.91  17.58  1.71  72.96  6.79    31.17  8.24    0.374

#0041

,sina,wile,e,ilo,sitelen,tawa,la,mi,alasa,e,mani,mute,.,Fluency
prob,28.4,8.43,57.21,16.65,0.78,5.34,14.33,52.45,0.35,92.38,3.95,22.65,87.81,0.325

#0042

,jan,mute,li,tawa,tomo,telo,li,telo,e,sijelo,ona,.,Fluency
prob,10.5,2.1,55.22,14.24,0.8,0.7,9.18,0.27,14.48,0.84,7.9,89.73,0.249

#0043

         mi   wile  lape    lon  supa  pona  suli      .  Fluency
prob  59.38  23.16  0.74  24.82  1.56  1.91  1.63  87.56    0.279

#0044

,tenpo,suno,sin,li,open,la,suno,li,kama,tan,monsi,pi,nena,weka,.,Fluency
prob,67.64,21.09,0.69,82.18,1.1,0.75,0.44,88.8,11.31,4.95,0.31,28.57,0.18,0.29,84.53,0.243

#0045

,sina,pali,e,moku,la,mi,pana,e,kili,anu,kasi,anu,kala,tawa,sina,.,Fluency
prob,15.62,5.92,70.74,0.42,21.74,48.57,9.16,96.89,0.53,0.56,0.12,0.46,0.05,33.4,10.8,78.68,0.247

#0046

      tomo   tawa  nanpa  luka    li    pi    jan  seme      ?  Fluency
prob  0.89  14.49   0.58  0.29  0.19  0.15  22.71  5.54  94.62    0.205

#0047

        jan  Miku     li   ilo  kalama  musi      .  Fluency
prob  76.84  70.5  43.78  0.54    0.84  2.51  89.76    0.315

#0048

      kule  sewi     li  laso      .  Fluency
prob  0.12  2.56  57.99  0.16  88.65    0.222

#0049

,kasi,suli,suli,li,open,e,uta,la,ona,tawa,insa,kasi,.,Fluency
prob,0.36,2.47,1.94,88.58,1.53,68.12,0.06,14.19,4.26,4.24,0.58,0.28,92.7,0.225

#0050

      pipi  monsuta     li    lon  insa     mi      .  Fluency
prob  0.17     0.03  22.26  33.77  1.51  34.29  83.03    0.238

#0051

,sitelen,toki,pi,toki,Tawi,li,jo,e,sike,.,Fluency
prob,0.15,6.91,7.69,5.51,32.16,95.01,14.24,96.58,0.31,88.27,0.297

#0052

      sinpin     pi  meli     ni     li  pona  lukin      .  Fluency
prob    0.82  34.99  2.97  27.26  85.89  9.72   2.26  84.76    0.319

#0053

,ma,tu,li,open,e,utala,la,jan,mute,li,kama,moli,.,Fluency
prob,0.35,1.07,94.21,1.53,70.93,0.36,18.12,4.91,2.1,93.28,22.33,2.11,86.05,0.273

#0054

      supa  kiwen    li  kiwen     li  lete      .  Fluency
prob  0.07   0.28  27.2   0.44  26.27   0.4  87.13    0.207

#0055

,mi,pana,e,mani,mute,seme,la,mi,ken,esun,e,ilo,kipisi,ni,?,Fluency
prob,37.25,9.16,97.41,3.95,1.09,21.52,81.46,55.59,15.8,0.88,83.57,9.23,0.1,12.78,17.02,0.31

#0056

,mama,tu,mi,li,unpa,ala,la,mi,lon,ala,.,Fluency
prob,0.49,0.27,8.25,23.03,0.07,5.24,37.61,46.48,0.27,2.17,87.57,0.229

#0057

,tomo,pi,kulupu,pi,jan,sona,li,lon,ma,ni,.,Fluency
prob,2.84,37.46,0.49,42.69,3.98,0.34,17.23,57.59,13.98,5.95,80.93,0.29

#0058

,jan,Ototake,li,jo,ala,e,luka,en,noka,.,Fluency
prob,76.84,70.5,95.01,4.7,63.14,58.53,0.32,1.31,0.29,89.42,0.325

#0059

,tomo,tawa,pi,sitelen,tawa,ni,li,ilo,tawa,tenpo,.,Fluency
prob,0.89,3.38,9.68,1.39,6.93,15.3,19.51,0.22,20.17,0.19,90.62,0.239

#0060

         mi  sona    ala      e  nimi   sina      .  Fluency
prob  40.86  5.66  61.53  80.02  3.88  10.96  78.68    0.408